body{
  background-color: rgb(255, 255, 218);
}


h1{
  position: relative;
  text-align: center;
  background-color: rgb(103, 255, 255);
  border-radius: 50px;
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-shadow:
    /* 안쪽 흰색 그림자 */
    1px 0 white, -1px 0 white, 0 1px white, 0 -1px white, 
    1px 1px white, 1px -1px white, -1px 1px white, -1px -1px white,

    /* 바깥쪽 미국자두색 그림자 */
    2px 0 plum, -2px 0 plum, 0 2px plum, 0 -2px plum,
    2px 1px plum, -2px 1px plum, 1px 2px plum, 1px -2px plum,
    2px -1px plum, -2px -1px plum, -1px 2px plum, -1px -2px plum,
    2px 2px plum, 2px -2px plum, -2px 2px plum, -2px -2px plum;
}

div.box1{
  text-align: center;
  margin: 0 auto;
}

div.box2{
  box-sizing: border-box;
  width: 700px;
  height: auto;
  display: inline-block;
  padding: 20px;
  background-color: #defdc5;
  border: 10px dotted rgb(252, 191, 118);
  border-radius: 24px;
  box-shadow: 10px 10px 5px gray;
}

div>h3{
  font-weight: bold;
  color: pink;
  font-size: 40px;
}







